{% extends "base.html" %}

{% load static %}

{% block body_class %}template-500{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">ERREUR SERVEUR 500</div>
        <i class="fas fa-tools fa-7x"></i></a>
        <br>
        <br>
        <br>
        <div class="masthead-subheading">Notre site rencontre un problème, nous travaillons actuellement à le résoudre</div>
</header>

{% endblock %}
