// Override Bootstrap color system

$yellow: #ffa300;
$grey: #6a6a6a;

// Override Bootstrap default state colors

$primary: $yellow;
$secondary: $grey;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
