{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-associationpage{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
    </div>
</header>

<!-- Story-->
<section class="page-section" id="story">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ page.title }}</h2>
            <br>
            <hr>
            <br>
            <p class="text-left">{{ page.body|richtext }}</p>
        </div>
    </div>
</section>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nos activités principales</h2>
        </div>
        <br>
        <hr>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-record-vinyl fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Management, production et diffusion</h4>
                <p class="text-muted">Artistes émergents (70% d'artistes locaux)</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-calculator fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Gestion administrative</h4>
                <p class="text-muted">Encadrement juridique et conseils aux activités professionnelles de spectacle vivant en Musiques actuelles</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">RDV conseils-diagnostics</h4>
                <p class="text-muted">Répondant aux nombreuses sollicitations d’artistes émergents du territoire</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-volume-up fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Création d'événements de sensibilisation</h4>
                <p class="text-muted">A destination des publics à la diversité culturelle et aux modes de production et de consommation orientés vers un développement économique durable</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Dynamisation des circuits-courts</h4>
                <p class="text-muted">De la production artisanale et de l’offre de services du territoire par le développement événementiel</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Action de rapprochement</h4>
                <p class="text-muted">Des acteurs culturels et des publics avec le secteur de l’Economie sociale et solidaire</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Participation et intervention régulière dans les réseaux de la filière musicale</h4>
                <p class="text-muted">Particulièrement sur les dynamiques d’émergence artistique et de diversité culturelle</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}