{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags widget_tweaks custom_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- Banner-->
{% image self.banner original as banner %}
<header class="artist-banner" style="background-image: url('{{ banner.url }}');">
    <div class="container"></div>
</header>

<!-- Artist-->
<section class="artist-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="section-heading text-uppercase">La playlist PYPO</h2>
                <p>{{page.playlist_text|richtext}}</p>
            </div>
            <div class="col-lg-6">
                <div class="spotify-embed-block">
                    {% for code in page.audio.all %}
                    <iframe src="{{code.link}}" width="400" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Agenda-->
<section class="agenda-section">
    <div class="container">
        <div class="text-left">
            <h2 class="section-heading text-uppercase">Agenda</h2>
            <p>{{page.agenda_text|richtext}}</p>
        </div>
        {% for artist in page.get_artists_infos.all|sort_by:'title' %}
        {% for gig in artist.gigs.all|sort_by:'date' %}
        <div class="row agenda-line">
            <div class="col-lg-2 text-center agenda-date">
                {{ gig.date }}
            </div>
            <div class="col-lg-4 text-center agenda-artist">
                <a href="{% pageurl artist %}">{{ artist.title }}</a>
            </div>
            <div class="col-lg-2 text-center agenda-city">
                {{ gig.city }}
            </div>
            <div class="col-lg-2 text-center agenda-location">
                {{ gig.location }}
            </div>
            <div class="col-lg-2 text-center">
                <a class="btn btn-light btn-social mx-3" href="{{ gig.link }}"><i class="fas fa-external-link-square-alt"></i></a>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% endfor %}
    </div>
</section>

{% endblock content %}
