{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- Banner-->
{% image self.banner original as banner %}
<header class="artist-banner" style="background-image: url('{{ banner.url }}');">
    <div class="container"></div>
</header>

<!-- Artist-->
<section class="artist-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="section-heading text-uppercase">La playlist PYPO</h2>
                <p>Retrouvez les nouveautés et inédits de nos artistes</p>
            </div>
            <div class="col-lg-6">
                <div class="spotify-embed-block">
                    {% for code in page.audio.all %}
                    <iframe src="{{code.link}}" width="400" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contactez-nous !</h2>
            <h3 class="section-subheading">L'équipe de PYPO Production vous répondra rapidement</h3>
        </div>
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" id="name" type="text" placeholder="Votre Nom *" required="required" data-validation-required-message="Entrez votre nom s'il vous plait" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="firstname" type="text" placeholder="Votre Prénom *" required="required" data-validation-required-message="Entrez votre prénom s'il vous plait" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="email" type="email" placeholder="Votre Email *" required="required" data-validation-required-message="Entrez votre adresse mail s'il vous plait" />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control" id="message" placeholder="Votre Message *" required="required" data-validation-required-message="Entrez votre message s'il vous plait"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">envoyer</button>
            </div>
        </form>
    </div>
</section>

{% endblock content %}
