{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-eventsindexpage{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
    </div>
</header>

<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ page.title }}</h2>
            <br>
            <hr>
            <br>
        </div>
        <div class="row">
            {% for member in page.members.all %}
            <div class="col-lg-4">
                <div class="team-member">
                    <h4>{{ member.firstname }} {{ member.lastname }}</h4>
                    <p class="text-muted">{{ member.job }}</p>
                    <a class="text">{{ member.phone }}</a><br>
                    <a class="text" href="{{ member.email }}">{{ member.email }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}