{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-termspage{% endblock %}

{% block content %}

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ page.title }}</h2>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Editeur :</h5>
                <br>
                <p class="text-muted">{{ page.editor|richtext }}</p>
                <br>
            </div>
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Hébergeur :</h5>
                <br>
                <div class="text-muted">{{ page.host|richtext }}</div>
                <br>
            </div>
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Crédits photos :</h5>
                <br>
                <div class="text-muted">{{ page.photo_credits|richtext }}</div>
                <br>
            </div>
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Exploitant :</h5>
                <br>
                <div class="text-muted">{{ page.pypo|richtext }}</div>
                <br>
            </div>
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Conception :</h5>
                <br>
                <div class="text-muted">{{ page.maker|richtext }}</div>
                <br>
            </div>
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Graphisme :</h5>
                <br>
                <div class="text-muted">{{ page.graphism|richtext }}</div>
                <br>
            </div>
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Informations relatives à la protection des données :</h5>
                <br>
                <div class="text-muted">{{ page.cnil|richtext }}</div>
                <br>
            </div>
            <div class="col-md-12">
                <h5 class="section-subheading text-uppercase">Propriété intellectuelle :</h5>
                <br>
                <div class="text-muted">{{ page.rights|richtext }}</div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}