{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-artistpage{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
    </div>
</header>

<section>
    <div class="container">
        <h1>{{ page.title }}</h1>
        <h5 class="section-subheading text-muted">{{ page.style}}</h5>
        {{ page.body|richtext }}
        <div class="col-lg-4 my-3 my-lg-0">
            {% for link in page.fb_link.all %}
                <a class="btn btn-light btn-social mx-2" href="{{ link.facebook }}"><i class="fab fa-facebook-f"></i></a>
            {% endfor %}
            {% for link in page.insta_link.all %}
                <a class="btn btn-light btn-social mx-2" href="{{ link.instagram }}"><i class="fab fa-instagram"></i></a>
            {% endfor %}
            {% for link in page.twitter_link.all %}
                <a class="btn btn-light btn-social mx-2" href="{{ link.twitter }}"><i class="fab fa-twitter"></i></a>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-11 text-right">
                <p><a href="{{ page.get_parent.url }}">Retour aux artistes</a></p>
            </div>
        </div>
    </div>
</section>

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
        </div>
    {% endfor %}
    
    


{% endblock %}