{% extends "base.html" %}

{% load wagtailcore_tags widget_tweaks %}

{% block content %}

<!-- Contact-->
<section class="contact-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ page.title }}</h2>
            <h3 class="section-subheading text-muted">{{ self.intro|richtext }}</h5>
        </div>
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class+="form-control" %}
                </div>
            {% endfor %}
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-7 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10843.113851365717!2d-1.5711149!3d47.2013485!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2899fd40e66a9f5a!2sLes%20Ecossolies!5e0!3m2!1sfr!2sfr!4v1597932190739!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <br>
            <div class="col-lg-5 text-center">
                <h5 class="section-subheading">PYPO Production</h5>
                <br>
                <p>8 rue de Saint Domingue</p>
                <p>44200 NANTES</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}