#agenda {
    background-color: $back;
    .agenda-line {
        align-self: center;
        border-color: $primary;
        border-radius: 2rem;
        padding-top: 1rem;
    }
    
    .agenda-date {
        background-color: $primary;
        align-self: center;
        border-radius: 1rem;
        color: $back;
    }
    
    .agenda-city {
        align-self: center;
        color: $text;
    }
    
    .agenda-location {
        align-self: center;
        color: $text;
    }
}
