.agenda-section {
    padding: 2rem 0;
    background-color: $back;
    h1.section-heading {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 1rem;
        color: $text;
    }
    h2.section-heading {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
        color: $primary;
    }
    h3.section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: $subheadings-font-family;
        margin-bottom: 4rem;
        color: $text;
    }
    h4.section-subheading {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $subheadings-font-family;
        margin-bottom: 0;
        color: $text;
    }
    h5.section-subheading {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $subheadings-font-family;
        margin-bottom: 0;
        color: $primary;
    }
    .agenda-line {
        align-self: center;
        border-color: $primary;
        border-radius: 2rem;
        padding-top: 1rem;
    }
    
    .agenda-date {
        background-color: $primary;
        align-self: center;
        border-radius: 1rem;
        color: $back;
    }
    
    .agenda-city {
        align-self: center;
        color: $text;
    }
    
    .agenda-location {
        align-self: center;
        color: $text;
    }
    .agenda-artist {
        align-self: center;
        color: $text;
    }
}