{% extends "base_blog.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="text-center">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="text-right">
            <p class="meta">{{ page.date }}</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {% for item in page.gallery_images.all %}
                <div style="float: left; margin: 10px">
                    {% image item.image fill-320x500 %}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-8">
                <div class="intro">{{ page.intro }}</div>
                <div class="text-blog" style="color: black;">
                    {{ page.body|richtext }}
                </div>
                
            </div>
        </div>
        <div class="text-right">
            <p><a href="{{ page.get_parent.url }}">Retour au blog</a></p>
        </div>
</section>

{% endblock %}