{% extends "base_blog.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<section class="blog-top-section">
    <div class="container">
        <h2 class="section-heading text-uppercase">{{ page.title }}</h2>
        <h5 class="section-subheading text-right">
            {{ page.date }}
        </h5>
        <br>
        <div class="row">
            <div class="col-lg-4">
                {% for item in page.gallery_images.all %}
                    {% image item.image fill-320x500 %}
                {% endfor %}
            </div>
            <div class="col-lg-8">
                <div class="intro-blog">{{ page.intro }}</div>
                <div class="text-blog">
                    <p>{{ page.body|richtext }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Page bottom-->
{% if page.page_bottom %}
<section class="blog-bottom-section">
        <div class="container">
            <div class="row">
                {% include "blog/blog_bottom_blocks.html" %}
            </div>
            <div class="row">
                <div class="col-lg-11 text-right">
                    <p><a href="{{ page.get_parent.url }}">Retour au blog</a></p>
                </div>
            </div>
        </div>
</section>
{% endif %}

{% endblock %}