{% load wagtailcore_tags %}

{% for block in page.page_bottom %}

    {% if block.block_type == 'video' %}
        <div class="block-{{ block.block_type }}-{{ block.value.position }} block-{{ block.block_type }}-{{ block.value.size }}">
            <div class="text-blog">
                {% include_block block.value.title %}
                <p>{{ block.value.richtext_content|richtext }}</p>
            </div>
            {{ block.value.video }}
        </div>
    {% else %}
        <div class="block-{{ block.block_type }}-{{ block.value.position }} block-{{ block.block_type }}-{{ block.value.size }}">
            <div class="text-blog">
                {% include_block block.value.title %}
                <p>{{ block.value.richtext_content|richtext }}</p>
            </div>
        </div>
    {% endif %}

{% endfor %}