.spotify-embed-block{
    height: 250px;
    width: 300px;
    color: $primary;
    background: $back;
    background: -webkit-linear-gradient(to left, $primary, $secondary);
    background: linear-gradient(to left, $primary, $secondary)
    }
    @media only screen and (max-width:  479px),only screen and (max-width:  768px){
      .spotify-embed-block{
        width: 100%;
        height: 80px
        }
      .spotify-embed-block iframe{
        width: 100%;
        height: 80px
        }
    }