// Override Bootstrap color system

$yellow: #ffc601;
$grey: #6c6869;
$black: black;
$white: white;

// Override Bootstrap default state colors

$primary: $yellow;
$secondary: $grey;
$back: $black;
$text: $white;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
