{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-eventpage{% endblock %}

{% block content %}

<!-- Banner-->
{% image self.banner original as banner %}
<header class="artist-banner" style="background-image: url('{{ banner.url }}');">
    <div class="container"></div>
</header>

<!-- Event-->
<section class="artist-section">
    <div class="container">
        <h2 class="section-heading text-uppercase">{{ page.title }}</h2>
        <div class="row">
            <div class="col-lg-7 text-justify">
                {{ page.body|richtext }}
            </div>
            <div class="col-lg-5">
                {{ page.links|richtext}}
            </div>
        </div>
    </div>
</section>

<!-- Return to events catalog-->
<div class="row">
    <div class="col-lg-11 text-right">
        <p><a href="{{ page.get_parent.url }}">Retour aux événements</a></p>
    </div>
</div>

{% endblock %}